:root {
  --main-font: 'AL_Jaz_Bold';
  --second-font: 'AL_Jaz_Regular';
  --thered-font: 'AL_Jaz_Light';
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.CookieConsent {
  max-width: 500px;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: #FBAE3C !important;
  font-family: var(--second-font);
  font-size: 16px;
  text-align: center;
  line-height: 2;
  position: fixed !important;
  /* top: 0% !important;
  left: 50% !important; */
  /* right: auto;
  bottom: auto; */
  /* transform: translate3d(-50%, -50%, 9999990px); */
  /* width: 95% !important; */
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  display: block !important;
}

.CookieConsent p a {
  text-decoration: none;
}