* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  html {
    direction: rtl;
  }

  @font-face {
    font-family: 'GE_SS_B';
    src: url('./fonts/GE SS Text Bold.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_L';
    src: url('./fonts/GE SS Text Light.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_M';
    src: url('./fonts/GE SS Text Medium.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_Two_L';
    src: url('./fonts/GE SS Two Light copy.otf') format('truetype');
  }
  @font-face {
    font-family: 'GE_SS_Two_B';
    src: url('./fonts/GE SS Text Bold.otf') format('truetype');
  }
  @font-face {
    font-family: 'GE_SS_Two_Li';
    src: url('./fonts/GESSTwoLightItalic.otf') format('truetype');
  }
  @font-face {
    font-family: 'GE_SS_Two_M';
    src: url('./fonts/GESSTwoMedium.otf') format('truetype');
  }
  @font-face {
    font-family: 'GE_SS_Two_Mi';
    src: url('./fonts/GESSTwoMediumItalic.otf') format('truetype');
  }
  