* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px (phones) */
    body, html {
      overflow-x: hidden;
    }
  }

  html {
    direction: rtl;
  }

  div#menu .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8 {
    position: fixed !important;
    top: 0 !important;
    bottom: 0;
    right: 0;
    width: 70vw;
    max-height: 100% !important;
  }

  /* @media screen and (min-width: 768px) and (max-width: 1024px) {
    div#menu .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8 {
      right: 15rem;
    }
  }; */


  @font-face {
    font-family: 'AL_Jaz_Bold';
    src: url('./fonts/AL-JAZEERA-ARABIC-BOLD.TTF') format('truetype');
  }

  @font-face {
    font-family: 'AL_Jaz_Regular';
    src: url('./fonts/AL-JAZEERA-ARABIC-REGULAR.TTF') format('truetype');
  }

  @font-face {
    font-family: 'AL_Jaz_Light';
    src: url('./fonts/AL-JAZEERA-ARABIC-LIGHT.TTF') format('truetype');
  }