* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px (phones) */
    body, html {
      overflow-x: hidden;
    }
  }

  html {
    direction: rtl;
  }

  .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    position: fixed;
    top: 0 !important;
    bottom: 0;
    right: 0;
    width: 70vw;
    max-height: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
      right: 15rem;

    }

  };

  @font-face {
    font-family: 'GE_SS_B';
    src: url('./fonts/GE SS Text Bold.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_L';
    src: url('./fonts/GE SS Text Light.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_M';
    src: url('./fonts/GE SS Text Medium.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_Two_L';
    src: url('./fonts/GE SS Two Light2.otf') format('truetype');
  }
    
  @font-face {
    font-family: 'GE_SS_Two_B';
    src: url('./fonts/GE SS Two Bold2.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_Two_Li';
    src: url('./fonts/GESSTwoLightItalic.otf') format('truetype');
  }

  @font-face {
    font-family: 'MP_R';
    src: url('./fonts/MyriadPro-Regular.otf') format('truetype');
  }

  @font-face {
    font-family: 'GE_SS_Two_M';
    src: url('./fonts/GE SS Two Medium2.otf') format('truetype');
  }
  @font-face {
    font-family: 'GE_SS_Two_Mi';
    src: url('./fonts/GESSTwoMediumItalic.otf') format('truetype');
  }
